body {
  background-color: #2a2a2a;
}

header {
  background-color: #2a2a2a;
  width: 100%;
  padding: 10px;
  text-align: center;
}

/*Estilos acceso.php*/

.formulario-acceso {
  border-color: #dad7d7;
  border-style: solid;
  border-radius: 10px;
  padding: 40px;
  margin: 0 auto;
  margin-top: 40px;
  max-width: fit-content;
  text-align: center;
}

.formulario-login {
  border-color: #dad7d7;
  border-style: solid;
  border-radius: 10px;
  padding: 40px;
  margin: 0 auto;
  margin-top: 40px;
  max-width: fit-content;
  text-align: left;
}

/*Estilos botones*/

.boton-acceder {
  color: #fff;
  background-color: #f38b12;
  border-radius: 5px;
  border-style: none;
  padding: 10px 50px;
  margin: 10px;
}
.boton-registro {
  color: #491b1b;
  background-color: #fff;
  border-color: #491b1b;
  border-radius: 5px;
  border-style: solid;
  padding: 10px 50px;
  margin: 10px;
}

.boton-acceder:hover {
  background-color: #491b1b;
  transition-duration: 0.2s;
}

.boton-registro:hover {
  color: #fff;
  background-color: #491b1b;
  transition-duration: 0.2s;
}

.boton-invitado {
  color: #000;
  background-color: #fff;
  border-color: #000;
  border-radius: 5px;
  border-style: solid;
  padding: 5px 10px;
  margin: 10px;
}

.boton-invitado:hover {
  color: #fff;
  background-color: #000;
  transition-duration: 0.2s;
}

.boton-comprar {
  color: #fff;
  background-color: #f38b12;
  border-radius: 5px;
  border-style: none;
  padding: 10px 20px;
  margin: 10px;
}

.boton-comprar {
  color: #fff;
  background-color: #f38b12;
  border-radius: 5px;
  border-style: none;
  padding: 5px 10px;
  margin: 10px;
}

.boton-comprar:hover {
  background-color: #79450a;
  transition-duration: 0.2s;
}
.boton-salir {
  color: #fff;
  background-color: #000;
  border-radius: 5px;
  border-style: none;
  padding: 5px 10px;
  margin: 10px;
}

.boton-salir:hover {
  background-color: #515151;
  transition-duration: 0.2s;
}

.error {
  border-color: red;
  padding: 10px 20px;
}
