#header {
  background-color: #fdf7f2;
  width: 100%;
  padding: 10px;
  text-align: center;
}

#header-logged {
  background-color: #fdf7f2;
  padding: 10px;
  text-align: center;
}

#menu {
  background-color: #fdf7f2;
  text-align: left;
  padding-top: 20px;
}
#mensaje-inicial {
  padding-top: 10px;
  padding-bottom: 10px;
}
#icono-usuario,
#mensaje-inicial {
  display: inline-block;
}

#icono-usuario {
  width: 20px;
  padding-bottom: 8px;
}

#logo {
  display: inline;
  margin-left: 150px;
}
/*Estilos acceso.php*/

.formulario-acceso {
  border-color: #dad7d7;
  border-style: solid;
  border-radius: 10px;
  padding: 40px;
  margin: 0 auto;
  margin-top: 40px;
  max-width: fit-content;
  text-align: center;
}

.formulario-login {
  border-color: #dad7d7;
  border-style: solid;
  border-radius: 10px;
  padding: 40px;
  margin: 0 auto;
  margin-top: 40px;
  max-width: fit-content;
  text-align: left;
}

.contenedor-mensajes {
  padding: 40px 40px 20px 20px;
  margin: 0 auto;
  margin-top: 20px;
  max-width: fit-content;
  text-align: left;
}

/*Estilos botones*/

.boton-acceder {
  color: #fff;
  background-color: #f38b12;
  border-radius: 5px;
  border-style: none;
  padding: 10px 50px;
  margin: 10px;
}
.boton-acceder:hover {
  background-color: #491b1b;
  transition-duration: 0.2s;
}

.boton-registro {
  color: #491b1b;
  background-color: #fff;
  border-color: #491b1b;
  border-radius: 5px;
  border-style: solid;
  padding: 10px 50px;
  margin: 10px;
}

.boton-registro:hover {
  color: #fff;
  background-color: #491b1b;
  transition-duration: 0.2s;
}

.boton-invitado {
  color: #000;
  background-color: #fff;
  border-color: #000;
  border-radius: 5px;
  border-style: solid;
  padding: 5px 10px;
  margin: 10px;
}

.boton-invitado:hover {
  color: #fff;
  background-color: #000;
  transition-duration: 0.2s;
}

.boton-comprar {
  color: #fff;
  background-color: #f38b12;
  border-radius: 5px;
  border-style: none;
  padding: 5px 10px;
  margin: 10px;
}

.boton-comprar:hover {
  background-color: #79450a;
  transition-duration: 0.2s;
}
.boton-detalle {
  color: #fff;
  background-color: #491b1b;
  border-style: none;
  border-radius: 5px;
  padding: 0px 10px;
  margin: 10px;
}

.boton-detalle:hover {
  color: #491b1b;
  background-color: #fff;
  border-color: #491b1b;
  transition-duration: 0.2s;
}

.boton-salir {
  color: #fff;
  background-color: #000;
  border-radius: 5px;
  border-style: none;
  padding: 5px 10px;
}

.boton-salir:hover {
  background-color: #515151;
  transition-duration: 0.2s;
}

.boton-eliminar {
  background-color: #c92d2d;
  border-style: none;
  border-radius: 0.2em;
  color: #fff;
  cursor: pointer;
}

.boton-eliminar:hover {
  background-color: #000;
  color: #fff;
  transition-duration: 0.2s;
}

.error {
  border-color: red;
  padding: 10px 20px;
}

.boton-seguir {
  color: #491b1b;
  background-color: #fff;
  border-style: solid;
  border-color: #491b1b;
  border-radius: 5px;
  padding: 5px 10px;
  margin: 10px;
}

.boton-seguir:hover {
  color: #fff;
  background-color: #491b1b;
  transition-duration: 0.2s;
}

.boton-finalizar {
  color: #fff;
  background-color: #f38b12;
  border-radius: 5px;
  border-style: none;
  padding: 10px 10px;
  margin: 10px;
}

.boton-finalizar:hover {
  background-color: #79450a;
  transition-duration: 0.2s;
}

/*Estilos de tienda y carrito*/

.categoria-productos {
  margin: 20px 0 0 50px;
}

.cabecera-carrito {
  background-color: #79450a;
  border-radius: 0.2em 0.2em 0 0;
  color: #fff;
  font-size: 20px;
  padding: 10px 20px;
  text-align: center;
  width: 100%;
}

#contenedor-carrito {
  text-align: center;
  margin-top: 30px;
  border-style: solid;
  border-radius: 0.5em;
  border-color: #dad7d7;
  padding: 0;
}

#contenedor-tienda {
  margin: 30px 0 10px 0;
}

#contenedor-producto {
  box-sizing: border-box;
}

.producto {
  border-style: solid;
  border-radius: 0.5em;
  border-color: #dad7d7;
  box-sizing: border-box;
  font-size: 15px;
  padding: 20px 0px;
  margin: 5px;
  text-align: center;
  max-width: fit-content;
}

.producto-carrito {
  border-style: solid;
  border-radius: 0.5em;
  border-color: #dad7d7;
  box-sizing: border-box;
  font-size: 15px;
  padding: 20px 5px;
  margin: 5px;
  text-align: center;
  max-width: fit-content;
}

/*Estilos de buscador*/

#buscador {
  text-align: center;
  margin-top: 30px;
}

.filtro {
  background-color: #f99a2d;
  border-color: #b5adad;
  border-style: solid;
  border-radius: 0.2em;
  color: #fff;
  padding: 7px 10px;
}
.filtro:hover {
  cursor: pointer;
  background-color: #79450a;
  transition-duration: 0.2s;
}
.boton-buscador {
  color: #fff;
  background-color: #f99a2d;
  border-radius: 0.2em;
  border-color: #b5adad;
  border-style: solid;
  padding: 5px 15px;
}
.boton-buscador:hover {
  background-color: #79450a;
  transition-duration: 0.2s;
}
.barra-buscador {
  border-color: #b5adad;
  border-style: solid;
  border-radius: 0.2em;

  padding: 5px;
  width: 400px;
  text-align: left;
}

/*Estilos factura */

.mensaje-factura {
  text-align: center;
}

.factura {
  border: 1px solid #868484;
  border-radius: 0.5em;
  padding: 50px;
  max-width: fit-content;
  margin: 0 auto;
  margin-bottom: 30px;
  margin-top: 30px;
}

.formulario-factura {
  text-align: center;
}

th {
  background-color: #b5adad;
  padding: 5px 15px;
}
td {
  padding: 5px 15px;
}
